* {
  /*  outline: 1px solid black; */
  box-sizing: border-box;
}
.sesion {
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sesion .sesion__titulo {
  font-size: 2em;
  margin: 4.5em 0 0.9em 0;
}
.sesion .sesion__form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.7em;
}
.sesion__form form {
  width: 50%;
}
.sesion__form .form__email,
.sesion__form .form__password,
.sesion__form .form__entrar {
  width: 80%;
  height: 4em;
  outline: none;
  border: none;
  margin-top: 0.7em;
  border-radius: 0.27em;
}
.sesion__form .form__email,
.sesion__form .form__password {
  padding: 0.4em;
  border-bottom: 0.14em solid #a2a2a2;
}
.sesion__form .form__entrar {
  background-color: #2a7ae4;
  color: #ffffff;
}
.sesion__form .form__entrar:hover {
  cursor: pointer;
  background-color: #2976db;
}
