.productos {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
}
.seccion__uno,
.seccion__dos,
.seccion__tres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 0;
}
.seccion__uno .seccion__encabezado,
.seccion__dos .seccion__encabezado,
.seccion__tres .seccion__encabezado {
  width: 90%;
  height: 3.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seccion__encabezado .seccion__titulo,
.seccion__encabezado .seccion__titulo,
.seccion__encabezado .seccion__titulo {
  margin-left: calc(2.1%);
  font-size: 1.9em;
}
.seccion__encabezado .seccion__enlace,
.seccion__encabezado .seccion__enlace,
.seccion__encabezado .seccion__enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.3em;
  color: #2a7ae4;
  margin-right: calc(2.1%);
}
.seccion__enlace .seccion__img,
.seccion__enlace .seccion__img,
.seccion__enlace .seccion__img {
  margin-left: 0.7em;
}
.seccion__uno .producto__uno,
.seccion__dos .producto__dos,
.seccion__tres .producto__tres {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6em;
}
.producto__uno .card,
.producto__dos .card,
.producto__tres .card {
  flex-basis: 10.5em;
  line-height: 0.4em;
}
.card .card__img {
  width: 100%;
  object-fit: cover;
}
.card .card__titulo {
  font-weight: 500;
}
.card .card__precio {
  font-weight: 800;
}
.card .card__enlace {
  text-decoration: none;
  font-weight: 600;
  color: #2a7ae4;
  line-height: 0.9em;
}
/* Pantalla de tablet a pc */
@media (min-width: 768px) and (max-width: 1100px) {
  .seccion__uno .card,
  .seccion__dos .card,
  .seccion__tres .card {
    flex-basis: 30%;
  }
  .card .card__img {
    width: 100%;
  }
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo {
    font-size: 1.2em;
  }
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace {
    font-size: 0.9em;
  }
}
/* Pantalla de celular mediano a tablet */
@media (min-width: 451px) and (max-width: 769px) {
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo {
    margin-left: calc(9.1%);
    font-size: 1.7em;
  }
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace {
    margin-right: calc(9.1%);
    font-size: 0.75em;
  }
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo {
    font-size: 1.2em;
  }
  .seccion__uno .producto__uno,
  .seccion__uno .producto__dos,
  .seccion__tres .producto__tres {
    gap: 1em;
  }
  .producto__uno .card,
  .producto__dos .card,
  .producto__tres .card {
    flex-basis: 40%;
  }
  .card .card__titulo {
    font-size: 1em;
  }
  .card .card__precio {
    font-size: 1em;
    line-height: 0.5em;
  }
  .card .card__enlace {
    line-height: 1em;
    font-size: 0.8em;
  }
}
/* Pantalla para disposivos pequeños */
@media (min-width: 0px) and (max-width: 450px) {
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo {
    margin-left: calc(5.1%);
    font-size: 1.7em;
  }
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace,
  .seccion__encabezado .seccion__enlace {
    margin-right: calc(5.1%);
    font-size: 0.8em;
  }
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo,
  .seccion__encabezado .seccion__titulo {
    font-size: 1.1em;
  }
  .producto__uno .card,
  .producto__dos .card,
  .producto__tres .card {
    flex-basis: 90%;
  }
  .card .card__titulo {
    font-size: 0.88em;
  }
  .card .card__precio {
    font-size: 0.8em;
    line-height: 0.5em;
  }
  .card .card__enlace {
    line-height: 0.9em;
    font-size: 0.8em;
  }
}
